<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href= "/static/css/tickets.css" rel="stylesheet" type="text/css" />
    <title>CMS | Your Tickets</title>
</head>
<body>
<%- include('../components/sidebar'); %>
<%- include('../components/header', {title: 'Active Tickets'}) %>

<div class="container">
    <table>
        <tr>
            <th>Ticket ID</th>
            <th>Opened At</th>
        </tr>
        <% tickets.forEach(function(ticket) { %>
        <td><a href="/ticket?id=<%=ticket.id%>"><%= ticket.id %></a></td>
        <td><%= new Date(ticket.date * 1000).toDateString() %><% }); %></td>
    </table>
</div>

</body>
</html>